.query-form {
  label {
    font-size: 2rem;
  }

  .search-wrapper {
    position: relative;
    margin-top: 1.5rem;
  }

  .searchbar {
    border-radius: 100px;
    background-color: #d9d9d9;
    color: #2e2e2e;
    font-size: 1rem;
    position: relative;
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;

    &::placeholder {
      color: #595959;
      opacity: 0.8;
    }
  }

  .search-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 50%;
    color: var(--accent);
    cursor: pointer;
    outline: none;
    z-index: 1;

    &:active {
      background-color: rgba(144, 202, 249, 0.3);
      outline: none;
    }
  }

  .search-icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 38rem) {
  .query-form {
    label {
      font-size: 1.75rem;
    }
  }
}

@media (max-width: 30rem) {
  .query-form {
    label {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 26rem) {
  .query-form {
    .searchbar {
      font-size: 0.75rem;
      padding: 0.75rem 1rem;
    }

    .search-icon-btn,
    .search-icon {
      display: none;
    }
  }
}
