.source-media {
  width: 100%;
  max-width: 46rem;
  margin: 4rem auto;
}

.search-results-container {
  margin-top: 3rem;

  p {
    font-size: 0.75rem;
    color: var(--text-muted);
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 50rem) {
  .source-media {
    padding-inline: 2rem;
  }
}
