.control-panel {
  background-color: var(--bg-elevated);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100vw;
  padding: 1.5rem 2rem;
}

.timeline-container {
  position: relative;
  width: 100%;
}

.control-icons {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.control-icons .icon {
  width: 1rem;
  height: 1rem;
}

.control-icons .icon-btn {
  background: transparent;
  color: var(--text-muted);
}

.loop-control-btn {
  margin-left: auto;
}

.control-icons .active {
  color: var(--accent);
}
