.control-panel {
  background-color: var(--bg-elevated);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100vw;
  padding: 1.5rem 2rem;
}

.control-icons {
  display: flex;
  gap: 1rem;
}

.control-icons .icon {
  width: 1rem;
  height: 1rem;
}

.control-icons .icon-btn {
  background: transparent;
  color: var(--text-muted);
}
