.apphead {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 100vw;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--border);

  .link {
    grid-column: 1;
    justify-self: start;
    font-size: 1.5rem;
  }

  .accent {
    color: var(--accent);
  }

  .source {
    grid-column: 2;
    justify-self: center;
    display: flex;
    gap: 0.5rem;
    background: var(--bg-elevated);
    color: var(--text-muted);
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
    width: 100%;
    border-radius: 12px;
  }

  .x-icon {
    margin-left: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
